body{
    overflow-x: hidden;
    padding-left: -15px;
    padding-right: -15px;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
}

.dark-translucent {
    background-image: url("../img/headerBack.png");
    background-size: cover;
    position: relative;
    min-height: 250px;
    padding-top: 60px;
    padding-bottom: 20px;
    background-repeat: no-repeat;
}

.myPhoto {
    border-radius: 10px;
    box-shadow: 1px 1px 20px lightgray;
}

.separator {
    background: white;
    background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.5) 35%,rgba(255,255,255,.5) 70%,rgba(255,255,255,0) 100%);
    width: 100%;
    margin: 20px auto 15px;
    position: relative;
    height: 1px;
}

.myName {
    font-family: 'Pacifico', cursive;
    color: white;
}

.headerDesc {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    color: white;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    text-align: center;
}

.textStyle {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #656d73;
}

.container {
    margin-top: 10vh;
}

.col-sm-1 {
    margin-top: 5px;
}

.back {
    background-color: rgba(211, 217, 223, 0.53);
    padding-bottom: 15px;
    margin-top: 20px;
}

.education {
    padding-top: 10px;
}

#accordion .ui-accordion-header  {
     background-color: #DCDCDC;
     color: #656d73;
     background-image: none;
     border: none ;
 }

#accordion .ui-accordion-header.ui-state-active  {
    background-color: #DCDCDC;
    color: #656d73;
    border: 1px dotted #7B7B7B;
}

#accordion .ui-accordion-header:active  {
    border: none ;
}

#accordion .ui-accordion-header {
    outline: none;
}

#accordionEd .ui-accordion-header  {
    background-color: #DCDCDC;
    color: #656d73;
    background-image: none;
    border: none ;
}

#accordionEd .ui-accordion-header.ui-state-active  {
    background-color: #DCDCDC;
    color: #656d73;
    border: 1px dotted #7B7B7B;
}

#accordionEd .ui-accordion-header:active  {
    border: none ;
}

#accordionEd .ui-accordion-header {
    outline: none;
}

#top-btn {
    width: 50px;
    height: 50px;
    bottom: -50px;
    right: 20px;
    position: fixed;
    z-index: 99!important;
    text-align: center;
    border-radius: 100px;
    background-color: #dcdcdc;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.12), 3px 4px 8px 0px rgba(0, 0, 0, 0.11);
    -webkit-transition: all .8s;
    transition: all .8s;
}

#top-btn:hover {
    background-color: #656d73;
}

#top-btn:hover i {
    padding-top: 5px;
}

#top-btn i {
    padding-top: 15px;
    font-size: 20px;
/line-height: 50px;
    color: #FFFFFF;
    -webkit-transition: all .8s;
    transition: all .8s;
}

.textbox {
    height: 700px;
}

.progress {
    margin-bottom: 10px;
}

.progress-bar {
    transition: width 1.5s ease;
}

.progress.active .progress-bar {
    -webkit-transition: none !important;
    transition: ease !important;
    background-color: #0cb5f1;
    box-shadow: 1px 1px 15px grey
}

.bar{
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    color: #656d73;
}

.parallax {
    position: relative;
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;
}

.cert {
    background-image: url("../img/certificates/backgound.png");
    visibility: visible;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.padding-15px-tb {
    padding-top: 15px;
    padding-bottom: 15px;
}

.feature-box.feature-box-7 div:first-child .box    {
    border-left: medium none;
}

.feature-box.feature-box-7 .box {
    margin-left: 20%;
    margin-right: 20%;
    cursor: default;
    max-height: 200px;
    max-width: 180px;
    display: table;
    position: relative;
    border: 1px solid #ededed;
    border-right: none;
    overflow: hidden;
}

.border-none {
    border-style: none !important;
}

.box-shadow-large {
    box-shadow: 0 0 12px rgba(0,0,0,.1);
}

.bg-white {
    border-radius: 7px;

    background-color: #fff!important;
}

.phover {
    cursor: pointer;
    transition: 0.3s;
}

.phover:hover {
    opacity: 0.6;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {

    margin: auto;
    display: block;
    width: 100%;
    max-width: 331px;
    max-height: 456px;
}

.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/** Caption of Modal Image (Image Text) - Same Width as the Image **/
.caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.col-centered {
    display: inline-block;
    float: none;
    margin: 0 auto;
}

.row-centered {
    text-align:center;
    padding-bottom: 10px;
    padding-top: 1px;
}

.ico {
    padding: 20px;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.ico:hover {
    opacity: 0.6;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #3B5998;
    color: white;
}

.fa-deviantart {
    background: #3B5998;
    color: white;
}

.fa-github {
    background: #3B5998;
    color: white;
}

