body {
}

.dark-translucent {
    background-image: url("../img/headerBack.png");
    background-size: cover;
    position: relative;
    min-height: 250px;
    padding-top: 60px;
    padding-bottom: 20px;
}

.separator {
    background: white;
    background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.5) 35%,rgba(255,255,255,.5) 70%,rgba(255,255,255,0) 100%);
    width: 100%;
    margin: 20px auto 15px;
    position: relative;
    height: 1px;
}

.myName {
    font-family: 'Pacifico', cursive;
    color: white;
}

.headerDesc {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    color: white;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
}

.descriptionAboutMe {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.container {
    margin-top: 10vh;
}

.col-sm-1 {
    margin-top: 5px;
}


